:root {
  --font-weight: 400;
  --panel-background: #F7F7F7
}
body {
  /* font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;*/
   font-size: 13px;
   line-height: 1.3;
   background: var(--panel-background);
}
table {
   font-size: 12px;
  /* width: auto !important;*/
}
.navbar-brand, .navbar, .chart-title {
   font-weight: var(--font-weight);
}
.navbar {
   font-size: 14px;
   color: yellow;
}
.navbar-brand {
}
.navbar-inverse .navbar-toggle .icon-bar { /* menu compact burger */
   background-color: #AAA;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
   color: #888; /* #DDD */
}
.navbar-inverse {
   background-color: #EAEAEA; /* #888 */
   border-color: transparent;
   border: 0;
}
.navbar-inverse .navbar-nav > :not(.active) > a {
   color: #999; /* #BBB */
}
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > :not(.active) > a:hover {
  /* background-color: var(--panel-background);*/
  background-color: #F0F0F0;
   color: #555; /* #DDD */
}
.navbar-inverse .navbar-nav > a,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus {
   color: #222; /* #FFF */
   background-color: var(--panel-background); /* option #1 */
  /* background-color: unset; */ /* option #2 */
  /* border-bottom: 3px solid #6662; */ /* option #2 */
}
.navbar-inverse .navbar-brand {
   color: #222;
}
.navbar-logo img {
   height: 41px;
   margin-top: 1px;
   margin-left: 2px;
}
.storyboard-nav .sbframelist ul li:not(.active) {
   background-color: #F8F8F8;
   color: #999;
}
.storyboard-nav .sbframelist ul li.active {
   background-color: #FFF;
   color: #444;
}
.storyboard-nav .sbframelist ul li {
   overflow: auto;
   white-space: normal;    /* Wrap long lines: nowrap normal pre pre-warp pre-line */
   word-wrap: normal;
   word-break: normal;
}
.chart-notes {
   background-color: #00000004 !important;
}
.chart-notes:empty { /* need to recognize whitespace here */
   background-color: yellow !important;
}
.table {
   margin: 0.5em auto;
}
.chart-wrapper {
  box-shadow: 0 2px 4px rgba(0,0,0,0.03), 0 1px 4px rgba(0,0,0,0.08)
}
.chart-wrapper-flex[data-height^=auto] {
   flex: 0 1 auto !important;
   height: initial !important;
}
.chart-wrapper-flex[data-height^=auto] .chart-stage {
   padding: initial !important;
}
.chart-wrapper-flex[data-height^=auto] .chart-shim.bootstrap-table {
   position: initial;
}
.plotly .modebar-btn {
   opacity: 0.2;
}
.chart-wrapper[data-width=auto] .chart-stage.bootstrap-table .table,
.chart-wrapper.narrow           .chart-stage.bootstrap-table .table {
   width: auto;
}
.dashboard-column[data-header]:not(.no-title):not([empty-header])::before {
  /*
   border: 0.5px solid #ddd;
   background-color: white;
   border-radius: 3px;
   margin-left: 2px;
   margin-right: 8px;
   margin-bottom: 8px;
  */
   content: attr(data-header);
   padding-left: 0.6em;
   padding-bottom: 0.2em;
   margin-top: -0.4em;
   color: #444;
   font-size: 115%;
}
.dashboard-row[data-header]:not(.no-title):not([empty-header])::before {
   content: attr(data-header);
   transform: rotate(180deg);
   writing-mode: vertical-lr;
   text-orientation: mixed;
   margin-bottom: 8px;
   margin-top: 8px;
   margin-left: -8px;
   direction: rtl;
}
.section.sidebar {
   top: 54px;
   background-color: transparent;
}
.vertical-layout-scroll .chart-wrapper-flex .chart-stage-flex .chart-shim {
  /* border: 5px solid red; */
   height: inherit;
   padding: 5px !important;
}
.chart-wrapper-flex[data-height^="auto"] .chart-shim {
  /* border: 5px solid blue !important; */
   position: initial;
}
.chart-wrapper-flex[data-height^="auto"] .chart-shim pre {
   margin: 5px;
}
@media zscreen {
   .html-widget {
      max-width: 600px !important;
   }
}
@media only screen and (max-width: 725px) and (min-width: 715px) { /* 670 */
   body {
      background-color: #E0E0FF;
   }
   .zzzdashboard-page-wrapper:after,
   .mobile-layout:after {
      content: 'Appropriate scale for print';
      color: #0001;
      text-shadow: 2px 2px #FFF2;
      padding-left: 0.5em;
      position: fixed;
      font-size: 36pt;
      bottom: 3px;
      left: 0px;
      z-index: 999; 
   }
   .mobile-layout .chart-wrapper.chart-wrapper-flex {
      border: 1px dashed magenta;
   }
   .mobile-layout .chart-wrapper:not(.chart-wrapper-flex) {
      border: 1px dashed cyan;
   }
}
@media only screen and (max-width: 768px) {
   .zzzdashboard-page-wrapper::before {
      content: '#' attr(id);
      padding-bottom: 0.3em;
      color: #aaa;
   }
   .tab-content {
      height: initial !important;
   }
   .image-container {
      position: initial;
   }
   .zchart-shim {
      position: initial;
   }
}
@media screen { /* dev template --> move to '@media print' */
   p:not([class]) {
     /* color: red;*/
   }
}
@media print, screen and (max-width: 1268px) and (min-width: 769px) {
   .section.sidebar {
      position: initial;
      width: initial !important;
      background-color: initial;
     /* display: none !important;*/
   }
   .checkbox-inline, .radio-inline {
      margin-top: 28px;
   }
   .desktop-layout, .vertical-layout-fill {
      padding-left: initial !important;
   }
   .section.level1 {
      border: 0.5px solid #04f8;
      border-radius: 4px;
      margin: 6px auto; /* subject for cancel */
   }
   .section.level1::before {
      content: attr(data-header);
      display: block;
      padding: 0.2em 0em 0.2em 0.4em !important;
      font-size: 140%;
      color: #444 !important;
   }
   .zzzdashboard-page-wrapper::before {
      content: '#' attr(id);
      display: block;
      padding-bottom: 0.2em !important;
      color: #aaa !important;
   }
   .image-container {
      opacity: 1;
      position: initial;
      page-break-inside: avoid !important;
      border: 2px dashed #00A3;
      background: none !important;
      text-align: center;
   }
   .image-container img {
      border: 1px dashed #00A6;
      opacity: 1;
      max-width: 100%;
      height: auto;
   }
   .pagebreak { /* []{.pagebreak} */
      page-break-before: always !important;
   }
   .tab-pane {
     /* border: 1px solid green;*/
      display: block !important;
   }
   .navbar {
      position: absolute !important;
      top: 0px;
      display: block !important;
      border-bottom: 1px solid red;
   }
   .navbar-left, .navbar-right {
      display: none;
   }
   .leaflet-control-attribution a {
      text-shadow: 2px 2px 2px #FFF !important;
   }
   .leaflet-control-attribution {
      margin-bottom: 0.1cm !important;
   }
   body {
      margin: 0em auto;
      background-color: #FFFFF5 !important;
      border: #AFAF90 1px dashed;
      width: 715px;
      height: initial;
   }
   .chart-wrapper {
     box-shadow: none;
   }
   .level3.no-mobile {
      display: none !important;
   }
   .section.level2 {
     /* display: block;*/
     /* border: 3px solid yellow;*/
   }
   .section.level3 {
     /* display: block;*/
      border: 2px solid orange;
     /* page-break-inside: avoid !important; */
   }
   .tab-content {
      height: initial !important;
   }
   .tab-content>.dashboard-page-wrapper.active {
      display: block;
   }
   .dashboard-page-wrapper {
      display: block;
     /* margin-top: 45px;*/
   }
   .dashboard-row, .dashboard-column {
      display: block;
     /* border: 3px solid red;*/
   }
   .dashboard-row-orientation, .dashboard-column-orientation {
      display: block; 
   }
   .chart-wrapper:not(.chart-wrapper-flex) {
      display: block; /* table */
      border: 1px solid cyan;
     /* page-break-inside: avoid !important;*/
     /* text-align: left; */
   }
   .chart-wrapper.page-break:not(.chart-wrapper-flex) {
      page-break-inside: always !important;
   }
   .chart-wrapper:not(.page-break):not(.chart-wrapper-flex) {
      page-break-inside: avoid !important;
   }
   .chart-stage {
     /* border: 1px red solid;*/
     /* page-break-inside: avoid; */
     /* position: sticky;*/
   }
   .chart-wrapper.chart-wrapper-flex.page-break {
      page-break-before: always !important;
   }
   .chart-wrapper.chart-wrapper-flex {
      display: block; /* block (long tables), -webkit-box (leaflet), flow-root, inherit, inline-flex, inherit*/
      border: 1px solid magenta;
     /* height: 3px !important;*/
      page-break-inside: avoid !important;
     /* text-align: right;*/
   }
   .chart-wrapper.chart-wrapper-flex.no-mobile {
      display: none;
   }
   .chart-shim {
      position: static; /* leaflet: 'absolute' (no-page break), initial, inherit */
     /* page-break-inside: avoid !important; */
      zmax-height: 412px;
   }
   .chart-notes {
      background-color: initial !important;
   }
   .zzztable {
      display: table !important;
   }
  /*
   .zzzhtml-widget {
      transition: transform .5s; 
      width: 640px !important
      transform: scalex(0.3);
   }
   .zzzchart-stage .html-widget {
      border: 1px solid green;
   }
  */
  /*
   .chart-stage .html-widget:not(.gauge) {
      height: 900px !important;
   }
  */
   .chart-stage .html-widget:not(.gauge):not([style*="heightzzz"]),
   .zzzchart-stage .html-widget-zzzstatic-bound:not(.gauge):not(.leaflet) {
     /* width: 100% !important;*/
      height: min(60vw,60vh,403.8px) !important;
   }
  /*
   .chart-stage .html-widget[style*="height"] {
      border: 8px solid magenta !important;
   }
  */
   .chart-stage .html-widget.zzzleaflet {
     /* max-width: 90vw !important; */
   }
   .chart-stage .leaflet.html-widget-static-bound {
     /* position: absolute !important;*/
      transform: scale(1); /* 0.97 */
     /* 
      margin-top: 0px;
      margin-top: -8px;
     */
   }
   .html-widget {
      border: 2px dashed #0A06;
     /* transform: scale(1.05);*/
   }
   .zzzhtml-widget, zzzimg {
     /* display: block;*/
      page-break-inside: avoid !important;
   }
   .section.level3.chart-wrapper-flex {
      page-break-inside: avoid !important;
   }
   .desktop-layout.vertical-layout-scroll .chart-wrapper-flex {
      height: inherit !important;
   }
   .chart-wrapper.chart-wrapper-flex.no-mobile {
      border: 5px solid orange;
   }
  /*
   .dashboard-column[data-header]:not(.no-title)::before {
      color: #444;
      zmargin-left: 0.6em;
   }
  */
   .dashboard-column[data-header]:not(.no-title) > .chart-wrapper:first-of-type,
   .dashboard-row[data-header]:not(.no-title) > .chart-wrapper:first-of-type {
      margin-top: 0.2em;
   }
   .dashboard-row[data-header]:not(.no-title)::before {
      writing-mode: initial;
      text-orientation: initial;
      margin-left: 0.6em;
   }
   .sbframe:not(.active) {
      display: initial;
   }
   .sbframe.active {
      display: initial;
   }
   .sbframe-commentary {
      width: initial;
   }
   .sbframe[data-header]:not(.no-title):not([empty-header])::before {
      content: attr(data-header);
      font-size: 115%;
      padding-left: 0.5em;
      padding-bottom: 0.5em !important;
      display: block;
   }
   .dashboard-row[data-header]:not(.no-title):not([empty-header])::before {
      content: attr(data-header);
      writing-mode: initial;
      margin-left: 8px;
   }
   .storyboard-nav {
      display: none;
   }
   .chart-stage p {
      margin-bottom: 0em;
      margin-top: 0em ;
   }
   .flowing-content-container:not(.sbframe-commentary) {
      padding-top: initial;
      padding-bottom: initial;
   }
   .chart-shim:not(.floating-content-shim) p {
      margin-bottom: 0.4em;
      margin-top: 0.4em;
   }
   .sbframe-commentary p {
      margin-bottom: 0em !important;
   }
   .sbframe.section.level3 {
      border: none;
   }
   .
}
@media print {
   .image-container {
      border: none !important;
   }
   .image-container img {
      border: 1px dashed #00A6;
      opacity: 1;
   }
   /*
   .image-container img {
      ztransform: scale(0.92);
      zmargin-top: -22px;
      zwidth: auto;
      zheight: 100%;
   }
  */
   a:after {
      text-decoration: underline dotted #F0F0F0;
      content: '\2009' attr(href) '\2009';
      position: relative;
      font-weight: normal;
      font-style: normal;
      top: -0.4em;
      font-size: 70%;
      color: #A0A0A0 !important;
   }
   .leaflet-control-zoom,
   .leaflet-control-layers,
   .leaflet-bar,
   .leaflet-dummy-element {
      display: none;
   }
   @supports (not (-moz-appearance:none)) and (not (-ms-ime-align: auto)) { /* not Firefox and not Edge --headless*/
      @page {margin: 0.5cm;}
      a {
         color: #008cba !important;
      }
      a:after {
         content: '' !important;
      }
   }
}
