.reveal body {
   background-color: yellow !important;
}
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
   text-transform: none; /* none uppercase lowercase capitalize */
}
.reveal .references {
   font-size: 80%  !important;
   text-align: left;
}
.reveal section.slide > h2 { font-size: 1.6em !important; line-height: 1em; margin-bottom: 8px;}
.reveal section.slide > h3 { font-size: 1.35em !important; line-height: 1em; margin-bottom: 8px;}
.reveal h1 { font-size: 1.4em;}
.reveal h2 { font-size: 1.2em;}
.reveal h3 { font-size: 1.1em;}
.reveal h4 { font-size: 1em;}
.reveal .subtitle {}
.reveal .title { font-size: 2.0em}
.reveal .proposal { font-size: 0.57em}
.reveal .author {
   font-size: 0.85em;
   padding: 0.8em 1.2em 0.8em 1.2em;
   }
.reveal .date { font-size: 0.8em;}
.reveal section.slide > h1 {
   font-size: 3.4em;
  /* color: white; */
  /* text-shadow: 0.05em 0.05em 0.06em #000;*/
   margin-top: -55px;
}
.reveal section.slide.has-dark-background > h1 {
   color: #e0e0d0;
}
.reveal section.slide > h2 { font-size: 1.4em; padding-bottom: 5px; margin-top: -35px;}
.reveal h2 {
   margin: -0.6em 0 0 0;
}
.reveal .slideheader {
   color: #888;
   font-size: 0.6em;
   text-align: right;
   margin: -30pt 0 0 0;
}
.reveal .slideheader2 {
   text-align:right;
   display:block;
   position:fixed;
   right:0.15em;
   top:0em;
   opacity: 0.25;
}
.reveal .slide {
  /*
   color: orange;
   background: white;
   background-color: white;
  */
   text-align:left;
}
.reveal .progress {
   height: 7px;
   margin-top: 1px;
}
.reveal .controls {
   right: 0px;
   bottom: 0px;
}
.reveal .center {text-align: center;}
.reveal .controls .enabled {opacity: 0.1;}
.reveal .thankyou {font-size: 2.0em;}
.reveal .scale200 {font-size: 200%}
.reveal .scale180 {font-size: 180%}
.reveal .scale160 {font-size: 160%}
.reveal .scale150 {font-size: 150%}
.reveal .scale140 {font-size: 140%}
.reveal .scale130 {font-size: 130%}
.reveal .scale120 {font-size: 120%}
.reveal .scale110 {font-size: 110%}
.reveal .scale100 {font-size: 100%}
.reveal .scale95 {font-size: 95%}
.reveal .scale90 {font-size: 90%}
.reveal .scale85 {font-size: 85%}
.reveal .scale80 {font-size: 80%}
.reveal .scale75 {font-size: 75%}
.reveal .scale70 {font-size: 70%}
.reveal .scale65 {font-size: 65%}
.reveal .scale60 {font-size: 60%; line-height: 0.9em;}
.reveal .scale58 {font-size: 58%;}
.reveal .scale55 {font-size: 55%}
.reveal .scale50 {font-size: 50%}
.reveal .scale55 {font-size: 55%}
.reveal .scale50 {font-size: 50%}
.reveal .scale45 {font-size: 45%}
.reveal .scale40 {font-size: 40%}
.reveal .scale35 {font-size: 35%}
.reveal .scale30 {font-size: 30%}
.reveal .scale0 {font-size: 0%}

.reveal p {
   line-height: 1.2em;
   margin: 0.5em 0;
}
.Zreveal .level1.has-dark-background p {
   color: #F0F1EB;
}
.reveal .level1.has-dark-background {
   color: #F0F1EB;
  /* background: #888; */
  /* background-color: #888; */
}
.reveal .level1.has-dark-background p a {
   color: #D3E4FF;
}
.reveal p.caption {font-size: 90%; margin: 0 0 0 4px;}
.reveal caption {font-size: 90%; margin: 0 0 0.2em 0;}

.reveal .greyB {color: #BBB}
.reveal .greyA {color: #AAA}
.reveal .grey9 {color: #999}
.reveal .grey8 {color: #888}
.reveal .grey7 {color: #777}
.reveal .grey6 {color: #666}
.reveal .grey5 {color: #555}
.reveal .grey4 {color: #444}
.reveal .grey2 {color: #333}
.reveal .redA {color: #a00}
.reveal .greenA {color: #0A0}
.reveal .blueA {color: #00A}

.reveal .space00 {}
.reveal .space05 {margin: 0.25em 0 0.25em 0; display: block}
.reveal .space09 {margin: 0.45em 0 0.45em 0; display: block}
.reveal .space10 {margin: 0.50em 0 0.50em 0; display: block}
.reveal .space15 {margin: 0.75em 0 0.75em 0; display: block}
.reveal .space20 {margin: 1.0em 0 1.0em 0; display: block}
.reveal .space30 {margin: 1.5em 0 1.5em 0; display: block}
.reveal .space40 {margin: 2.0em 0 2.0em 0; display: block}
.reveal .space50 {margin: 2.5em 0 2.5em 0; display: block}
.reveal .space60 {margin: 3.0em 0 3.0em 0; display: block}
.reveal .space70 {margin: 3.5em 0 3.5em 0; display: block}
.reveal .space80 {margin: 4.0em 0 4.0em 0; display: block}

.reveal .line05 {line-height: 0.5;}
.reveal .line09 {line-height: 0.9;}
.reveal .line10 {line-height: 1.0;}
.reveal .line15 {line-height: 1.5;}
.reveal .line20 {line-height: 2.0;}
.reveal .line30 {line-height: 3.0;}
.reveal .line40 {line-height: 4.0;}
.reveal .line50 {line-height: 5.0;}
.reveal .line60 {line-height: 6.0;}
.reveal .line70 {line-height: 7.0;}
.reveal .line80 {line-height: 8.0;}

#left {
  left:-8.33%;
  text-align: left;
  float: left;
  width:50%;
  z-index:-10;
}
#right {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: right;
  z-index:-10;
  width:50%;
}
.reveal section img {
   margin: 0;
   padding: 0;
   border: 0px solid #000;
   background: rgba(255, 255, 255, 0.1);
}
.reveal section img:not(.inline) {
   background: rgba(255, 255, 255, 0.3);
   box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.07); /* 0.07 */
} 
.reveal img.inline {
   margin: 0.1em;
   padding: 0.1em;
   margin-bottom: -0.2em;
}
.Zreveal table td { /* DOESNT WORK */
   border-width: 3px;
   padding-left: 5px;
   padding-right: 5px;
   border-style: solid;
   border-color: red;
}
.reveal .linebreak {
   display: block;
}
.reveal iframe {
   max-width: 100%;
   max-height: 100%;
}
@media print {
   zzzh6 {
      margin-bottom: 2pt;
   }
}
.print-pdf .reveal .slideheader {
   font-size: 0;
   color: #FFFFFF !important;
   visibility: visible !important;
   margin-bottom: -2pt;
}
.reveal * {
   font-family: "Segoe UI", sans-serif !important;
}
.print-pdf .reveal * {
   font-family: "Georgia", serif !important;
}
.print-pdf .reveal .slides {
   background-color: #F0F1EB;
}
.print-pdf .reveal iframe {display: none !important;}
.print-pdf .reveal .dontprint {display: none !important;}

.print-pdf .reveal section.slide > h1, .print-pdf .reveal section.slide > h2 {
   margin-top: 0;
}

.reveal .pdflink {
   color: #00000010;
}
.print-pdf .reveal .pdflink {
   display: none;
}
.reveal .comment, .reveal .note {
   display: none;
}
.reveal .figure {
   text-align: center;
}
.reveal sup {font-size: 80%;}

.reveal .adopted {
   position: relative;
   font-weight: normal;
   font-style: normal;
   top: -0.4em;
   font-size: 80%;
}
.reveal .inline {
   height: 1.2em !important; 
   margin-bottom: -3px;
}
.reveal ul+h3 {
   margin-top: 0.5em;
}

.reveal ul {
   margin-top: -0.5em;
}
.reveal .shadow {
   color: magenta;
}
.reveal .darkheader {
   color: #F0F1EB; text-shadow: 5px 5px 14px #000;
}
