.reveal body {
   background-color: yellow !important;
}
/*
.reveal p {
   border: 1px solid red;
   margin-left: -48px !important;
   margin-right: -48px !important;
}
*/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none; /* none uppercase lowercase capitalize */
  word-wrap: normal;
  word-break: normal;
}
.reveal .references {
   font-size: 80%  !important;
   text-align: left;
}
.reveal h1 { font-size: 2.2em;}
.reveal h2 { font-size: 1.6em;}
.reveal h3 { font-size: 1.25em}
.reveal h2+h3 {margin-top: -0.1em;}
.reveal h4 { font-size: 1.1em;}
.reveal .title { font-size: 2.0em; line-height: 1.0em;}
.reveal .subtitle {font-size: 1.0em; line-height: 1.0em; padding-top: 2.4em;}
.reveal .proposal { font-size: 0.57em}
.reveal .author {
   font-size: 1.10em;
   padding: 0.8em 1.2em 0.8em 1.2em;
}
.reveal .institute {
   font-size: 0.9em;
}
.reveal .date {
   font-size: 0.75em;
}
.reveal section.slide > h1 {
   font-size: 3.2em;
   line-height: 1em;
   padding-bottom: 0.1em;
  /* color: white; */
  /* text-shadow: 0.05em 0.05em 0.06em #000;*/
   margin-top: -40px;
}
.reveal section.slide > h2 {
   font-size: 1.6em !important;
   line-height: 1em;
   margin-bottom: 0.3em;
  /*
   margin-left: -0.8em;	
   margin-right: -0.8em;
  */
}
.reveal section.slide > h3 {
   font-size: 1.35em !important;
   line-height: 1em;
   margin-bottom: 0.3em;
}
.reveal section.slide.has-dark-background > h1 {
   color: #e0e0d0;
}
.reveal section.slide > h2 { font-size: 1.4em; padding-bottom: 5px; margin-top: -35px;}
.reveal h2 {
   margin: -0.6em 0 0 0;
}
.reveal .slideheader {
   color: #888;
   font-size: 0.6em;
   text-align: right;
   margin: -30pt 0 0 0;
}
.reveal .slideheader2 {
   text-align:right;
   display:block;
   position:fixed;
   right:0.15em;
   top:0em;
   opacity: 0.25;
}
.reveal .slide {
  /*
   color: orange;
   background: white;
   background-color: white;
  */
   text-align:left;
}
.reveal .progress {
   height: 7px;
   margin-top: 1px;
}
.reveal .controls {
   right: 0px;
   bottom: 0px;
}
.reveal .center {text-align: center;}
.reveal .controls .enabled {opacity: 0.03;}
.reveal .controls .enabled:hover {opacity: 0.2;}
.reveal .thankyou {font-size: 2.0em;}
.reveal .scale200 {font-size: 200%}
.reveal .scale180 {font-size: 180%}
.reveal .scale160 {font-size: 160%}
.reveal .scale150 {font-size: 150%}
.reveal .scale140 {font-size: 140%}
.reveal .scale130 {font-size: 130%}
.reveal .scale120 {font-size: 120%}
.reveal .scale110 {font-size: 110%}
.reveal .scale100 {font-size: 100%}
.reveal .scale97 {font-size: 97%}
.reveal .scale95 {font-size: 95%}
.reveal .scale94 {font-size: 94%}
.reveal .scale93 {font-size: 93%}
.reveal .scale92 {font-size: 92%}
.reveal .scale91 {font-size: 91%}
.reveal .scale90 {font-size: 90%}
.reveal .scale88 {font-size: 88%}
.reveal .scale87 {font-size: 87%}
.reveal .scale86 {font-size: 86%}
.reveal .scale85 {font-size: 85%}
.reveal .scale84 {font-size: 84%}
.reveal .scale83 {font-size: 83%}
.reveal .scale82 {font-size: 82%}
.reveal .scale81 {font-size: 81%}
.reveal .scale80 {font-size: 80%}
.reveal .scale79 {font-size: 79%}
.reveal .scale78 {font-size: 78%}
.reveal .scale77 {font-size: 77%}
.reveal .scale76 {font-size: 76%}
.reveal .scale75 {font-size: 75%}
.reveal .scale70 {font-size: 70%}
.reveal .scale65 {font-size: 65%}
.reveal .scale60 {font-size: 60%; line-height: 0.9em;}
.reveal .scale59 {font-size: 59%;}
.reveal .scale58 {font-size: 58%;}
.reveal .scale57 {font-size: 57%}
.reveal .scale56 {font-size: 56%}
.reveal .scale55 {font-size: 55%}
.reveal .scale54 {font-size: 54%}
.reveal .scale53 {font-size: 53%}
.reveal .scale52 {font-size: 52%}
.reveal .scale51 {font-size: 51%}
.reveal .scale50 {font-size: 50%}
.reveal .scale49 {font-size: 49%}
.reveal .scale48 {font-size: 48%}
.reveal .scale47 {font-size: 47%}
.reveal .scale46 {font-size: 46%}
.reveal .scale45 {font-size: 45%}
.reveal .scale40 {font-size: 40%}
.reveal .scale35 {font-size: 35%}
.reveal .scale30 {font-size: 30%}
.reveal .scale0 {font-size: 0%}

.reveal p {
   line-height: 1.1em;
   margin: 0.5em 0;
}
.Zreveal .level1.has-dark-background p {
   color: #F0F1EB;
}
.reveal .level1.has-dark-background {
   color: #F0F1EB;
  /* background: #888; */
  /* background-color: #888; */
}
.reveal .level1.has-dark-background p a {
   color: #D3E4FF;
}
.reveal p.caption {font-size: 90%; margin: 0 0 0 4px;}
.reveal caption {font-size: 90%; margin: 0 0 0.2em 0;}

.reveal .greyB {color: #BBB}
.reveal .greyA {color: #AAA}
.reveal .grey9 {color: #999}
.reveal .grey8 {color: #888}
.reveal .grey7 {color: #777}
.reveal .grey6 {color: #666}
.reveal .grey5 {color: #555}
.reveal .grey4 {color: #444}
.reveal .grey2 {color: #333}
.reveal .redA {color: #a00}
.reveal .greenA {color: #0A0}
.reveal .blueA {color: #00A}

.reveal .space00 {}
.reveal .space05 {margin: 0.25em 0 0.25em 0; display: block}
.reveal .space09 {margin: 0.45em 0 0.45em 0; display: block}
.reveal .space10 {margin: 0.50em 0 0.50em 0; display: block}
.reveal .space15 {margin: 0.75em 0 0.75em 0; display: block}
.reveal .space20 {margin: 1.0em 0 1.0em 0; display: block}
.reveal .space30 {margin: 1.5em 0 1.5em 0; display: block}
.reveal .space40 {margin: 2.0em 0 2.0em 0; display: block}
.reveal .space50 {margin: 2.5em 0 2.5em 0; display: block}
.reveal .space60 {margin: 3.0em 0 3.0em 0; display: block}
.reveal .space70 {margin: 3.5em 0 3.5em 0; display: block}
.reveal .space80 {margin: 4.0em 0 4.0em 0; display: block}

.reveal .line05 {line-height: 0.5;}
.reveal .line09 {line-height: 0.9;}
.reveal .line10 {line-height: 1.0;}
.reveal .line15 {line-height: 1.5;}
.reveal .line20 {line-height: 2.0;}
.reveal .line30 {line-height: 3.0;}
.reveal .line40 {line-height: 4.0;}
.reveal .line50 {line-height: 5.0;}
.reveal .line60 {line-height: 6.0;}
.reveal .line70 {line-height: 7.0;}
.reveal .line80 {line-height: 8.0;}

.left20, .left30, .left40, .left50, .left60, .left70, .left80 {
  left:-8.33%;
  text-align: left;
  float: left;
  z-index: -10;
  padding-right: 4em;
}
.right20, .right30, .right40, .right50, .right60, .right70, .right80 {
  left:31.25%;
  top: 75px;
  float: left;
  text-align: left;
  z-index: -10;
}
.left20, .right20 {width: 19.5%}
.left30, .right30 {width: 29.5%}
.left40, .right40 {width: 39.5%}
.left50, .right50 {width: 49.5%}
.left60, .right60 {width: 59.5%}
.left70, .right70 {width: 69.5%}
.left80, .right80 {width: 79.5%}

.reveal section img {
   margin: 0;
   padding: 0;
   border: 0px solid #000;
   background: rgba(255, 255, 255, 0.1);
}
.reveal section img:not(.inline) {
   background: rgba(255, 255, 255, 0.3);
   box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.07); /* 0.07 */
} 
.reveal section img.leaflet-tile {
   box-shadow: none;
}
.reveal img.inline {
   margin: 0.1em;
   padding: 0.1em;
   margin-bottom: -0.2em;
}
.Zreveal table td { /* DOESNT WORK */
   border-width: 3px;
   padding-left: 5px;
   padding-right: 5px;
   border-style: solid;
   border-color: red;
}
.reveal .linebreak {
   display: block;
}
.reveal iframe {
   max-width: 100%;
   max-height: 100%;
}
.reveal @page {
  size: A4;
  margin: 0;
}
.reveal @media print {
   zzzh6 {
      margin-bottom: 2pt;
   }
   html, body {
      width: 167mm;
      height: 297mm;
   }
}
.print-pdf .reveal .slideheader {
   font-size: 0;
   color: #FFFFFF !important;
   visibility: visible !important;
   margin-bottom: -2pt;
}
.print-pdf .reveal h1, .print-pdf .reveal h2, .print-pdf .reveal h3,
.print-pdf .reveal h4, .print-pdf .reveal h5, .print-pdf .reveal h6,
.print-pdf .reveal .slide {
   font-family: "Georgia", serif !important;
}
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6,
.reveal .slide {
   font-family: "Segoe UI", sans-serif !important;
}
.reveal code {
   font-family: Consolas, "DejaVu Sans Mono", Monaco, "Courier New", monospace !important;
}
.reveal pre > code {
   font-size: 125%;
}
.reveal pre:not([class]) > code {
   color: #888;
   margin-top: -0.2em;
   margin-bottom: 0.5em;
}

.reveal pre.height700 code {max-height: 700px;} 
.reveal pre.height650 code {max-height: 650px;} 
.reveal pre.height600 code {max-height: 600px;} 
.reveal pre.height550 code {max-height: 550px;} 
.reveal pre.height500 code {max-height: 500px;} 
.reveal pre.height475 code {max-height: 475px;} 
.reveal pre.height450 code {max-height: 450px;} 
.reveal pre.height425 code {max-height: 425px;} 
/* .reveal pre code {max-height: 400px;}  */ /* default */
.reveal pre.height380 code {max-height: 380px;} 
.reveal pre.height360 code {max-height: 360px;} 
.reveal pre.height340 code {max-height: 340px;} 
.reveal pre.height320 code {max-height: 320px;} 
.reveal pre.height300 code {max-height: 300px;} 

.reveal pre[class^="height"] > code {
   color: #888;
   margin-top: -0.2em;
   margin-bottom: 0.5em;
}
.reveal div.sourceCode {
   margin-top: -0.2em;
   margin-bottom: -0em;
}
.reveal div.sourceCode:hover {
   background-color: white;
   color: #aaa;
}
.reveal div.sourceCode:hover::after {
   font-size: 60%;
   content: 'copy&paste';
   position: fixed;
   display: inline;
   position: fixed;
   right: 0em;
   opacity: 0.2;
   padding: 0.3em;
   margin-top: -2.3em;
   margin-right: 0.4em;
   background-color: gold;
   color: black;
}
.reveal pre {
   width: 99%;
   margin: 0.4em auto;
   line-height: 1.2em;
   box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}
.print-pdf .reveal .slides {
  /* background-color: #F0F1EB;*/
}
.print-pdf .reveal .slide .level1 {
  /*
   margin-top: -1vh !important;
   width: 1276px !important;
   height: 880px !important;
  */
   left: -52px !important;
   top: -35px !important;
}
/*
.print-pdf .reveal .slide-backgrond .stack {
}
*/
.print-pdf .reveal iframe {display: none !important;}
.print-pdf .reveal .dontprint {display: none !important;}

.print-pdf .reveal section.slide > h1, .print-pdf .reveal section.slide > h2 {
   margin-top: 0;
}

.reveal .pdflink {
   color: #00000010;
}
.print-pdf .reveal .pdflink {
   display: none;
}
.reveal .comment, .reveal .note {
   display: none;
}
.reveal .figure {
   text-align: center;
}
.reveal sup {font-size: 80%;}

.reveal .adopted {
   position: relative;
   font-weight: normal;
   font-style: normal;
   top: -0.4em;
   font-size: 80%;
}
.reveal .inline {
   height: 1.2em !important; 
   margin-bottom: -3px;
}
.reveal Zul+h3 {
   margin-top: 0.5em;
}

.reveal ul {
   margin-top: -0.5em;
   margin-bottom: -0.25em;
  /*
   margin-left: 0em;
   border: 1px solid magenta;
  */
}
.reveal ul ul{
   margin-top: -0.2em;
   margin-bottom: -0.2em;
}
.reveal ul {
  list-style-type: circle solid;
}
.reveal ul ul {
  list-style-type: circle;
}
.reveal ul ul ul {
  list-style-type: '• ';
}
.reveal .shadow {
   color: magenta;
}
.reveal .darkheader {
   color: #F0F1EB; text-shadow: 5px 5px 14px #000;
}
.Zreveal .slides > section > section {
}
.Zreveal .slides > section.present {
   background-color: gold;
}
.reveal .slides {
   padding-right: 80px;
}
.print-pdf .reveal .slides {
   font-size: 90%;
}
.reveal .middle,
.reveal section:not(.level1):not(.level2):not(.stack) {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 75vh;
}
.reveal .html-widget:not(.datatables) {
   margin: auto;
  /* margin-bottom: 0.75em;*/
   max-width: 99%;
  /* max-width: 614px;*/ /* !important;*/
   max-height: 670px !important;
  /* max-height: auto !important;*/
  /* height: auto !important;*/
   border: 1px dashed #eee;
}
.reveal .leaflet-control-container {
   font-size: 80% !important;
}
.reveal .leaflet-control-scale-line {
   font-size: 160% !important;
}
.reveal .leaflet-control-layer-selector {
   font-size: 300%;
}
.reveal .leaflet-tile img {
   box-shadow: none !important;
}
.reveal .leaflet-control-layers, .reveal .legend.leaflet-control {
   text-align: left;
}
.reveal .leaflet-popup-content, .reveal .leaflet-tooltip {
   font-size: 80% !important;
}