:root {
   --sidebar-select: #002366;
   --sidebar-color: #002366;
   --scrollY: 900px;
}
.remark-slide-content:not(.customtitle):not([id*=beforefinalizing]):not([id*=applications]) .logo img {
   opacity: 0.3;
}
.logo img[alt=sevin] {
   height: 65px;
}
.logo img[alt=pu] {
   height: 60px;
}
.customtitle .logo img[alt=sevin],
/*.logo img[alt=sevin]:hover,*/
#slide-applications .logo img[alt=sevin],
#slide-beforefinalizing .logo img[alt=sevin],
#slide-finalizing .logo img[alt=sevin] {
   height: 175px;
}
.customtitle .logo img[alt=pu],
/*.logo img[alt=pu]:hover,*/
#slide-applications .logo img[alt=pu],
#slide-beforefinalizing .logo img[alt=pu],
#slide-finalizing .logo img[alt=pu] {
   height: 130px;
}
.logo img:hover {
   opacity: 1.0 !important;
}
.metadata .shorttitle {
   visibility: hidden;
}
.sidebar h1[id*=cadet],
[id*=cadet] .sidebar h3 {
   font-size: calc(var(--sidebar-pointsize) * 2);
}
[id*=cadet] .mainbar {
   font-size: calc(var(--sidebar-pointsize) * 0.5);
}
[id*=cadet] .sidebar {
   font-size: calc(var(--sidebar-pointsize) * 0.48);
}
[id*=zzzcadet] .logo {
   display: none;
}
iframe[explorer], iframe[xml] {
   -webkit-transform: scale(calc(1 * var(--magnifier)));
   -webkit-transform-origin: 0 0;
   max-width: calc(99% / calc(1 * var(--magnifier)));
  /* zoom: calc(1 / (1 * var(--magnifier)));*/
}
iframe[explorer] #document {
   border: 3px solid red !important;
}
.remark-slide-content iframe[explorer] + p {
   margin-top: 140px;
}
.sidebar h1[id*=cadet] {
   margin-top: 3em !important;
}
.outline {
   font-variant: small-caps;
  /* letter-spacing: -4%;*/
}
.mainbar h1, .mainbar h2, .mainbar h3, .mainbar h4, .mainbar h5 {
   font-variant: small-caps;                                    	
   letter-spacing: -0.02em;
}
.optional {
   opacity: 0.4;
}
.clarify {
   margin-top: 0.2em;
   margin-bottom: 0.2em;
   padding: 0.1em 0.0em 0.1em 0.0em;
   break-inside: avoid;
}
.clarify > ul {
   list-style-type: none;
}
.clarify li {
   margin-left: -0.4em;
}
.clarify > ul > li:only-child:before,
.clarify > ul > li > *:before {
   content: '';
   display: inline-block;
   position: relative;
   left: -0.4em;
   top: 0px;
   margin-bottom: 0.16em;
   padding-top: 0px;
   padding-bottom: 0.16em;
   border: 2px solid color-mix(in srgb, var(--dark), transparent 85%);
   border-radius: 10px;
   padding-left: 0px;
   margin-right: -0.16em;
   margin-left: -0.58em;
   padding-right: 0.6em;
}
.mainbar:not(.broad) .next .header {
   margin-bottom: 0;
}
.remark-slide-content[id*=application] h1[id*=application] {
  /* visibility: visible;*/
}
.remark-slide-content:not([id*=cadet]):not([id*=application]):not([id*=zzzfinalizing]) h1[id*=application] {
  /* visibility: hidden;*/
   display: none;
}
[id*=application] .mainbar .next {
   -webkit-columns: 2;
   -moz-columns: 2;
   columns: 2;
   -webkit-column-gap: calc(var(--gap) * 2);
   -moz-column-gap: calc(var(--gap) * 2);
   column-gap: calc(var(--gap) * 2);
  /* text-align: justify; */ /* devel */
}
.remark-slide-content:not([id*=hidden]) .outline *[id*=hidden] {
  /* visibility: hidden;*/
   display: none;
}
.section[id*=hidden] {
   display: none;
}
div#TOC li:has(> a[id*=hidden]) {
   display: none;
}
.remark-slide-content[id*=gpx] .mainbar .scrollable {
   height: 75vh;
}
.mainbar .scrollable pre {
   overflow-x: hidden;   
   white-space: pre-wrap;
}
.scrollable.explorer {
   height: 326px;
   margin-bottom: 0.6em;
}
.serga:after {
   content: '🔎';
   vertical-align: top;
   margin-left: -0.2em;
   font-size: 50%;
   opacity: 0.2;
}
.serga::before:hover {
   background-image: url(https://avatars.yandex.net/get-music-content/14707562/e7d7cc2d.a.33979706-1/400x400);
   color: red;
}
.serga::before:hover {
   display: block;
   content: '';
   background-size: auto 300px;
   background-repeat: no-repeat;
   position: absolute;
   bottom: 140px;
   right: 0.2em;
  /* visibility: hidden;*/
   width: 300px;
   height: 300px;
  /* border: 100px solid transparent;*/
}
.serga::before {
   visibility: visible;
}
.focus .outline h1 ~ h2,
.focus .outline h2 ~ h3,
.focus .outline h3 ~ h4,
.focus .outline h4 ~ h5 {
   display: none;
}
/*
.remark-slide-content:not([id*=cadet]) .outline {
   height: 587px;
   overflow-y: auto;
}
*/
/*
.outline {
   position: absolute;
   background-color: #FF7;
   z-index: 5;
}
.banner {
   position: absolute;
   z-index: 10;
}
.banner .logo {
   position: absolute;
   z-index: 20;
   bottom: 100px;
}
*/
.outline:has(> h3[id*=qgis-standalone][id*=fg]) {
   font-size: calc(var(--sidebar-pointsize) * 1.37);
}
.outline:has(> h4[id*=steps][id*=fg]) {
   font-size: calc(var(--sidebar-pointsize) * 1.3);
}
.outline:has(> h3[id*=retired-datasource][id*=fg]) {
   font-size: calc(var(--sidebar-pointsize) * 1.41);
}
.countdown {
   opacity: 1;
   background-image: none;
}
.countdown-digits {
   color: white !important;
}
.remark-slide-content.youturn {
   background-color: #032040;
   background-image: url("youturn.jpg");
   background-size: cover;
}
.remark-slide-content.youturn img {
   margin-left: auto !important;
}

.youturn {
   background-color: #0000006F;
}
.section .youturn {
   display: none;
}
:not(.customtitle) > * > .outline:not(:has(> h1[id*=dataset][id*=fg])) h1[id*=dataset] {
   background-color: yellow !important;
   display: none !important;
}
.outline:has(> h1[id*=application][id*=fg]) h1:not([id*=application]) {
   display: none;
}
.outline:has(> h1[id*=dataset][id*=fg]) h1:not([id*=dataset]) {
   display: none;
}
