.emoji, .inline:not(.math) {
   height: 1.2em !important; 
   display: inline-block !important;
   margin-bottom: 3px;
   box-shadow: none;
}
.aside {
   display: none;
}
.double { /* from shower */
   -webkit-columns: 2;
   -moz-columns: 2;
   columns: 2;
   -webkit-column-gap: 1em;
   -moz-column-gap: 1em;
   column-gap: 1em;
  /* text-align: justify; */ /* devel */
}
.triple { /* from shower */
   -webkit-columns: 3;
   -moz-columns: 3;
   columns: 3;
   -webkit-column-gap: 1em;
   -moz-column-gap: 1em;
   column-gap: 1em;
  /* text-align: justify; */ /* devel */
}
.double, .triple {
   margin-bottom: 0.8em;
}
img.cover.fail { /* from shower for 'img'*/
   display: block;
   position: absolute;
   top: 50%;
   left: 50%;
   z-index: -1;
   -webkit-transform: translate(-50%,-50%);
   transform: translate(-50%,-50%);
   max-width: 100%;
   max-height: 100%;
}
.outline ol {
   counter-reset: item;
   list-style-type: none !important;
}
.outline ol {
   padding-left: 1em;
}
.outline ol ol {
   padding-left: 2em;
}
.outline ol > li:before {
   content: counters(item, "X.X") "Y.Y ";
   counter-increment: item;
}
.outline li p {
   display: inline;
}
#content-wrap > #main-content > #settings-container.desktop-only, /* Google Chrome Reader header */
#content-wrap > #main-content > #content > p:only-of-type:first-child, /* Google Chrome Reader header */
#toolbar.toolbar-container, /* Mozilla Firefox Reader header */
.container .meta-data .reader-estimated-time-zzz, /* Mozilla Firefox Reader header */
#d666d4993f3fc8294edf5eb9049274.dc3742482ef58b86daa984c3090999dd {
   display: none;
   border: 1px solid red;
}
iframe {
   margin: 0 auto 0 auto !important;
   padding-left: 0;
   padding-right: 0;
   border: 1px dotted #eee;
  /* width: 614px; */
}
.centered-image > img {
   height: auto;
}
/*
ul li:only-child::marker {
  color: transparent;
}
*/
