.caption-prefix {
  /* font-weight: 600;*/
}
.caption-suffix::after {
   content: '.';
}
#maincontent figure img {
   height: auto;
}
.remarkonly, .onlyremark. .thankyou {
   display: none;
}
.columns {
   display: flex;
}