.caption-prefix {
  /* font-weight: 600;*/
}
.caption-suffix::after {
   content: '.';
}
.emoji, .inline:not(.math) {
   height: 1.2em !important; 
   display: inline-block !important;
   margin-bottom: 3px;
   box-shadow: none;
}
.goto_toc img {
   text-decoration: none;
   margin-left: 0.3em;
   font-size: 40%;
   opacity: 0;
}
.goto_toc:hover img{
   opacity: 0.8;
}
.aside {
   margin-top: unset !important;
}
