.caption-prefix {
  /* font-weight: 600;*/
}
.caption-suffix::after {
   content: '.';
}
.goto_toc img {
   text-decoration: none;
   margin-left: 0.3em;
   font-size: 40%;
   opacity: 0;
}
.goto_toc:hover img{
   opacity: 0.8;
}
.aside {
   margin-top: unset !important;
}
img {
   height: auto;
}
