@import url(https://fonts.googleapis.com/css?family=Fira+Sans);
@import url(https://fonts.googleapis.com/css?family=Cousine);

body {
  font-family: Fira Sans, 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif;
  font-weight: ;
  color: #000000;
  line-height: 1.15;
}
h1, h2, h3, h4 {
  font-family: Fira Sans;
  font-weight: normal;
  color: #43418A;
}

.remark-slide-content {
  background-color: #FFFFFF;
  font-size: 22px; /* '26' for 16:9, '22' for 16:9 */
  padding: 1em 4em 1em 4em;
}
.remark-slide-content h1, .remark-slide-content h2, .remark-slide-content h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.remark-slide-content h4 {
  margin-top: 10px;
  margin-bottom: 0px;
}

.title-slide h1, .title-slide h2, .title-slide h3 {
  margin-top: 60px;
  margin-bottom: 60px;
  text-shadow: 4px 4px 15px #000;
}

.remark-slide-content h1 {
    font-size: 190%;
}
.remark-slide-content h2 {
    font-size: 150%;
}
.remark-slide-content h3 {
    font-size: 115%;
}
.remark-slide-content h4 {
    font-size: 100%;
}
.inverse {
  background-color: #C6DBEF;
  color: #43418A;
  text-shadow: 4px 4px 15px #fff;
}
.inverse h1, .inverse h2, .inverse h3, .inverse h4 {
  color: #43418A;
}
.title-slide, .title-slide h1, .title-slide h2, .title-slide h3 {
  color: #FFFFFF;
}
.title-slide {
  background-color: #43418A;
}
.title-slide .remark-slide-number {
  display: none;
}

.remark-code, .remark-inline-code {
  font-family: Cousine, 'Lucida Console', Monaco, monospace;
}

/*
*/
.largest { font-size: 150% }
.large { font-size: 132% }
.larger { font-size: 115% }
.smaller { font-size: 87% }
.small { font-size: 76% }
.smallest { font-size: 50% }

.remark-slide-number {
  font-size: 12pt;
  margin-bottom: -10px;
  margin-right: -10px;
 /* color: #FFFFFF; */ /* white */
  opacity: 0.3; /* default: 0.5 */
}

/* .remark-slide-content > h1, h2, h3:first-of-type {
  margin-top: 80px;
  margin-top: 80px;
}
 */

.remark-slide-content {
  padding-top: 0px;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 0px;
 /* background-image: url(../figs/sevin.png);*/
  background-position: left 5px bottom 5px;
  background-size: 30px;
 /*
  height:100px;
  padding:10px;
  background: linear-gradient(to bottom, #D4D5A0, white, white, white, white, white, white);
 */
}

.title-slide {
 /* background-image: url(../figs/sevin.png); */
  background-position: 70% 60%;
  background-size: 90px;
}


strong{color: unset;}

.MathJax_CHTML {
    font-size: 24pt !important;
    color: unset;
}

caption, p.caption {
  font-size: 90%;
  color: #2F3F4F;
}
/*
img {
  display: block;
  max-height:450px;
  width: auto;
  height: auto;
}
*/
/*
.remark-slide-content h1 {
  padding: 30px 0 0 0;
}
*/
hr {
  border-style: solid;
  border: 0;
  border-top: 1px solid #eee;
  margin: 1px 0;
  line-height: 0;
}
.header h2 {
  font-size: 38px;
  color: red;
}
h2 .header{
  color: red;
}
.header {
  font-size: 18px;
  display: block;
  text-align: right;
  color: #43418A;
  font-style: italic;
  border-style: solid;
  border: 0;
  border-bottom: 1px solid #eee;
  padding: 13px 0px 14px 0px; /* top 0 13 */
  margin: 14px 0px  -20px 0px; /* top padding + 1  */
  line-height: 0;
}
.pull-left-30 {
  float: left;
  width: 27%;
}
.pull-left-35 {
  float: left;
  width: 32%;
}
.pull-left-40 {
  float: left;
  width: 37%;
}
.pull-left-45 {
  float: left;
  width: 42%;
}
.pull-left-50 {
  float: left;
  width: 47%;
}
.pull-left-60 {
  float: left;
  width: 57%;
}
.pull-left-65 {
  float: left;
  width: 62%;
}
.pull-left-70 {
  float: left;
  width: 67%;
}
.pull-right-70 {
  float: right;
  width: 67%;
}
.pull-right-65 {
  float: right;
  width: 62%;
}
.pull-right-60 {
  float: right;
  width: 57%;
}
.pull-right-50 {
  float: right;
  width: 47%;
}
.pull-right-40 {
  float: right;
  width: 37%;
}
.pull-right-35 {
  float: right;
  width: 32%;
}
.pull-right-30 {
  float: right;
  width: 27%;
}
a, a > code {
  color: #418A43;
  text-decoration: none;
}
