/**/
@import url(https://fonts.googleapis.com/css?family=Fira+Sans);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
/**/

:root {
   --magnifier: 1.7;
   --gap: 3%
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v18/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7DQ.woff2) format('woff2');
}
body {
 /* font-family: Fira Sans, 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif;*/
  font-family: "Fira Sans" ,"Segoe UI", sans-serif !important;
  color: #000000;
  line-height: 1.15;
}
h1, h2, h3, h4 {
  font-family: "Fira Sans" ,"Segoe UI", sans-serif !important;
 /* font-family: "Segoe UI", sans-serif !important;*/
  font-weight: normal;
  color: #43418A;
}
.sidebar h1, .sidebar h2, .sidebar h3 {
  font-family: "Roboto Condensed", "Fira Sans" ,"Segoe UI", sans-serif !important;
}

.remark-slide-content {
  background-color: #FFFFFF;
  font-size: 22pt; /* '21pt Fira' '22pt Segoe ' '26px' for 16:9, '22px' for 16:9; 12pt=16px */
}
.remark-slide-content h1, .remark-slide-content h2, .remark-slide-content h3 {
  margin-top: 0px;
  margin-bottom: 10px;
}
.remark-slide-content h4 {
  margin-top: 10px;
  margin-bottom: 0px;
}

.title-slide h1, .title-slide h2, .title-slide h3 {
  margin-top: 60px;
  margin-bottom: 60px;
  text-shadow: 4px 4px 15px #000;
}

.remark-slide-content h1 {
    font-size: 190%;
}
.remark-slide-content h2 {
    font-size: 150%;
}
.remark-slide-content h3 {
    font-size: 115%;
}
.remark-slide-content h4 {
    font-size: 100%;
}
.notable {
  background-color: #FFFAE4;
 /* color: #43418A;*/
 /* text-shadow: 4px 4px 15px #fff;*/
}
.notable h1, .notable h2, .notable h3, .notable h4 {
 /* color: #43418A; */
}
.inverse, .break {
  background-color: #2C3E50;
  color: #ffffff;
  text-shadow: 0 0 20px #333;
}
.inverse h1, .inverse h2, .inverse h3 {
  color: #ffffff;
  line-height: 1.0em;
}

.title-slide, .title-slide h1, .title-slide h2, .title-slide h3 {
  color: #FFFFFF;
}
.title-slide {
  background-color: #43418A;
}
#slide-bib .remark-slide-number,
#slide-fn .remark-slide-number,
.break .remark-slide-number,
.picsum .remark-slide-number,
.title-slide .remark-slide-number {
  display: none;
}
.remark-code, .remark-inline-code {
  font-family: Cousine, 'Lucida Console', Monaco, monospace;
}

/*
*/
.largest { font-size: 150% }
.large { font-size: 132% }
.larger { font-size: 115% }
.smaller { font-size: 87% }
.small { font-size: 76% }
.smallest { font-size: 50% }

.remark-slide-number {
  font-size: 50%;
  margin-bottom: -10px;
  margin-right: -10px;
 /* color: #FFFFFF; */ /* white */
  opacity: 0.3; /* default: 0.5 */
}

/* .remark-slide-content > h1, h2, h3:first-of-type {
  margin-top: 80px;
  margin-top: 80px;
}
 */

.remark-slide-content {
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
 /*
  background-image: url(../figs/sevin.png)
  background-position: left 5px bottom 5px;
  background-size: 30px;
 */
 /*
  height:100px;
  padding:10px;
  background: linear-gradient(to bottom, #D4D5A0, white, white, white, white, white, white);
 */
}
.remark-slide-content p {
   margin-top: 0em;
   margin-bottom: 0.4em;
}
.title-slide {
 /* background-image: url(../figs/sevin.png); */
  background-position: 70% 60%;
  background-size: 90px;
}


strong{color: unset;}

.MathJax_CHTML {
    font-size: 24pt !important;
    color: unset;
}

caption, p.caption {
  font-size: 90%;
  color: #2F9F4F;
 /* margin-top: calc(0.1em * var(--magnifier));*/
}
/*
img {
  display: block;
  max-height:450px;
  width: auto;
  height: auto;
}
*/
/*
.remark-slide-content h1 {
  padding: 30px 0 0 0;
}
*/
hr {
  border-style: solid;
  border: 0;
  border-top: 1px solid #eee;
  margin: 1px 0;
  line-height: 0;
}
.header h2 {
  font-size: 38px;
  color: red;
}
h2 .header{
  color: red;
}
.header {
  font-size: 60%;
  display: block;
  text-align: right;
  color: #43418A;
  font-style: italic;
  border-style: solid;
  border: 0;
  border-bottom: 1px solid #eee;
  padding-top: 0px;
  padding-bottom: 12px;
  margin-top: 0px;
  margin-bottom: -14px;
  line-height: 0;
}
.pull-left-30 {
  float: left;
  width: calc(30% - var(--gap));
}
.pull-left-35 {
  float: left;
  width: calc(35% - var(--gap));
}
.pull-left-40 {
  float: left;
  width: calc(40% - var(--gap));
}
.pull-left-45 {
  float: left;
  width: calc(45% - var(--gap));
}
.pull-left-50 {
  float: left;
  width: calc(50% - var(--gap));
}
.pull-left-55, .pull-left {
  float: left;
  width: calc(55% - var(--gap));
}
.pull-left-60 {
  float: left;
  width: calc(60% - var(--gap));
}
.pull-left-65 {
  float: left;
  width: calc(65% - var(--gap));
}
.pull-left-70 {
  float: left;
  width: calc(70% - var(--gap));
}
.pull-right-70 {
  float: right;
  width: calc(70% - var(--gap));
}
.pull-right-65 {
  float: right;
  width: calc(65% - var(--gap));
}
.pull-right-60 {
  float: right;
  width: calc(60% - var(--gap));
}
.pull-right-55 {
  float: right;
  width: calc(55% - var(--gap));
}
.pull-right-50, .pull-right {
  float: right;
  width: calc(50% - var(--gap));
}
.pull-right-40 {
  float: right;
  width: calc(40% - var(--gap));
}
.pull-right-35 {
  float: right;
  width: calc(35% - var(--gap));
}
.pull-right-30 {
  float: right;
  width: calc(30% - var(--gap));
}
.pull-right-70 + *, 
.pull-right-65 + *, 
.pull-right-60 + *, 
.pull-right-55 + *, 
.pull-right-50 + *, 
.pull-right-45 + *, 
.pull-right-40 + *, 
.pull-right-35 + *, 
.pull-right-30 + * {
   clear: both;
}
.right-column {
   padding-top: initial;
}
a, a > code {
  color: #418A43;
  text-decoration: none;
}
table.dataTable {
   font-size: 70%;
}
.dataTables_filter, .dataTables_length, .dataTables_paginate, .dataTables_info {
   font-size: 60%;
   padding-top: 0.4em;
   padding-bottom: 0.4em;
}
.break * {
  /* visibility: hidden;*/
}
.picsum {
   background-image: url(https://picsum.photos/1060/682);
   background-size: cover;
}
.content-box-blue,
.content-box-gray,
.content-box-grey,
.content-box-army,
.content-box-green,
.content-box-purple,
.content-box-red,
.content-box-yellow {
    border-radius: 15px;
    margin: 0 0 0px;
    overflow: hidden;
    padding: 6px 16px;
    width: 100%;
}
.html-widget.leaflet {
   zoom: var(--magnifier);
   -moz-transform: scale(var(--magnifier)); 
   -moz-transform-origin: 0 0;
   max-width: calc(100% / var(--magnifier));
   opacity: 0.5;
}
.html-widget.plotly {
   zoom: var(--magnifier); 
   -moz-transform: scale(var(--magnifier)); 
   -moz-transform-origin: 0 0;
   max-width: calc(100% / var(--magnifier));
   opacity: 0.5;
}
.zzz.html-widget.highchart {
   zoom: var(--magnifier); 
   -moz-transform: scale(var(--magnifier)); 
   -moz-transform-origin: 0 0;
   max-width: calc(100% / var(--magnifier));
}
.zzzz.img {
   zoom: var(--magnifier); 
   -moz-transform: scale(var(--magnifier)); 
   -moz-transform-origin: 0 0;
   max-width: calc(100% / var(--magnifier));
}
.html-widget {
   border: 1px solid red;
}
.html-widget.widgetframe iframe {
   border: 1px solid blue;
   height: calc( 98% / var(--magnifier));
   zoom: var(--magnifier); 
   -ms-zoome: var(--magnifier);
   -moz-transform: scale(var(--magnifier)); 
   -moz-transform-origin: 0 0;
   -o-transform: scale(var(--magnifier));
   -o-transform-origin: 0 0;
   -webkit-transform: scale(var(--magnifier));
   -webkit-transform-origin: 0 0;
   opacity: 0.5;
   visibility: visible;
   max-width: calc(100% / var(--magnifier));
   max-height: calc(644px / var(--magnifier));
   margin-bottom: calc(60px * var(--magnifier) * var(--magnifier));
}
iframe.ursa-widgetize {
   border: 1px dashed #eee;
   height: calc( 98% / var(--magnifier));
   zoom: var(--magnifier); 
   -ms-zoome: var(--magnifier);
   -moz-transform: scale(var(--magnifier)); 
   -moz-transform-origin: 0 0;
   -o-transform: scale(var(--magnifier));
   -o-transform-origin: 0 0;
   -webkit-transform: scale(var(--magnifier));
   -webkit-transform-origin: 0 0;
   max-width: calc(100% / var(--magnifier));
}
/*
.left-column h2:not(:last-of-type), .left-column h3:not(:last-child) {
   color: #777;
}
*/
img[width="1406"] {
   width: unset;
}
img[width$="%"] {
   height: auto;
}
p img {
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.15)
}
ul {
   margin-top: 0.4em;
}
.scroll {
   height: 646px;
   width: 100%;
   overflow-y: auto; 
}
/* footer identifier */
/*
.remark-slide-content > p:first-child { 
   color: red;
   margin-top: -12px;
}
*/
.footer {
   position: fixed;
   left: 0;
   bottom: -5px;
   height: 20px;
   width: 100%;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 3px;
   font-size: 10px;
}
.left-column {
   position: absolute;
   height: 98%;
   background-color: #F4F4F4;
   margin-left: -16px;
   margin-top: -16px;
   padding-top: 16px;
   padding-left: 16px;
   padding-right: 16px;
  /* overflow: scroll; */
   overflow-y: auto; 
}
.sidebar {
   font-size: 70%;
}
.sidebar * {
   font-size: unset;
}
.left-column h2:last-of-type, .left-column h3:last-child,
.sidebar h1, .sidebar h2, .sidebar h3 {
   color: #ccc;
}
.sidebar.left-column h3,
.sidebar.left-column h2,
.sidebar.left-column h1 { /* .sidebar.left-column h3:last-child */
   margin: 4px -16px -8px -16px;
   padding: 4px 16px 8px 16px;
}
.sidebar h1[id*=fg], .sidebar h2[id*=fg], .sidebar h3[id*=fg] {
   color: brown;
}
.sidebar h1[id*=bg], .sidebar h2[id*=bg], .sidebar h3[id*=bg] {
   background-color: white; /* #FFFCE1;*/
   color: initial;
}
/*
.left-column {
   background-color: #DFD;
}
.right-column {
   background-color: #DFF;
}
.pull-left {
   background-color: #FFD;
}
.pull-right {
   background-color: #FDD;
}
.pull-down {
   background-color: #DDF;
}
.double {
   background-color: #FDF;
}
.double, .triple, .left-column {
   text-align: justify;
}
*/
.footer-note {
   position: absolute;
   bottom: 0.2em;
   left: 0.6em;
   width: 90%;
  /* height: 1em;*/
}
h1[id*=class-thankyou], h1[id^=-span], h2[id^=-span] {
   display: none;
}
.remark-slide-number {
   position: fixed;
}
.remark-slide-number .progress-bar {
   height: 100%;
   background-color: #187BA250;
}
.remark-slide-number .progress-bar-container {
   position: inherit;
   top: 0;
   height: 5px;
   display: block;
   left: 0;
   right: 0;
}
body:fullscreen .remark-backdrop,
body:fullscreen {
   background-image: url(https://picsum.photos/1600/900);
   background-size: cover;
}

@media only screen {
   .remark-slides-area .remark-fading { z-index: 9; } 
   .remark-slides-area .remark-slide-container {transition: opacity 0.4s ease-out;opacity: 0;}
   .remark-slides-area .remark-visible {transition: opacity 0.4s ease-out;opacity: 1;}
   .remark-slides-area #slide-bib .remark-slide-number,
   .remark-slides-area #slide-fn .remark-slide-number {
      display: none;
   }
}
@page { margin: 0; }
@media zzzprint {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
  .remark-slide-content {
     padding-top: 0.18cm !important;
  }

}

@supports (not (-moz-appearance:none)) and (not (-ms-ime-align: auto)) { /* not Firefox and not Edge */
   .html-widget {
      max-width: 100% !important;
   }
}
