body.quarto-light {
   color: #638;
}
.quarto-light .quarto-title-banner {
   margin-bottom: 0em;
   color: #222;
   background: #eee;
}
.thankyou {
   display: none;
}
@media (min-width: 992px) {
   .quarto-title-banner {
     padding-top: 0.4em !important;
     padding-bottom: 0.8em !important;
   }
}
.notes {
   opacity: 0.6;
   border-left: 3px solid;
   padding-left: 2em;
}