body {
   color: #638;
}
.quarto-title-banner {
  margin-bottom: 0em;
  color: #222;
  background: #eee;
}
@media (min-width: 992px) {
   .quarto-title-banner {
     padding-top: 0.4em !important;
     padding-bottom: 0.8em !important;
   }
}