body {
  line-height: 1.15;
}

.remark-slide-content h1, .remark-slide-content h2, .remark-slide-content h3 {
  line-height: 1.15;
  margin-top: 10px;
  margin-bottom: 10px;
}

.title-slide h1, .title-slide h2, .title-slide h3 {
  line-height: 1.15;
  margin-top: 60px;
  margin-bottom: 60px;
  text-shadow: -4px 8px 15px #000;
}


/*
*/
.large { font-size: 132% }
.larger { font-size: 115% }
.smaller { font-size: 87% }
.small { font-size: 76% }

.remark-slide-number {
  font-size: 12pt;
  margin-bottom: -10px;
  margin-right: -10px;
 /* color: #FFFFFF; */ /* white */
  opacity: 0.3; /* default: 0.5 */
}

/* .remark-slide-content > h1, h2, h3:first-of-type {
  margin-top: 80px;
  margin-top: 80px;
}
 */

.remark-slide-content {
  padding-top: 0px;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 0px;
 /* background-image: url(../figs/sevin.png);*/
  background-position: left 5px bottom 5px;
  background-size: 30px;
 /*
  height:100px;
  padding:10px;
  background: linear-gradient(to bottom, #D4D5A0, white, white, white, white, white, white);
 */
}

.title-slide {
 /* background-image: url(../figs/sevin.png); */
  background-position: 70% 60%;
  background-size: 90px;
}


strong{color: unset;}

.MathJax_CHTML {
    font-size: 24pt !important;
    color: unset;
}

caption, p.caption {
  font-size: 90%;
  color: #2F3F4F;
}
/*
img {
  display: block;
  max-height:450px;
  width: auto;
  height: auto;
}
*/
/*
.remark-slide-content h1 {
  padding: 30px 0 0 0;
}
*/
