{
  --sidebar: 21%;
}
.shorttitle {
   font-size: 87%;
}
img.hovered:hover {
   height: 650px !important;
   border: 5px solid #666;
   position: absolute;
   display: block;
   top: 10px;
   left: 60px;
   z-index: 9;
}
.zzzlink {
   font-size: 50%;
}
.inset.map222243::before {background-image: url(track-222243.png);}
.inset.map222245::before {background-image: url(track-222245.png);}
.inset.map222246::before {background-image: url(track-222246.png);}
.inset.map250493::before {background-image: url(track-250493.png);}
.inset.map250494::before {background-image: url(track-250494.png);}
.inset.map250495::before {background-image: url(track-250495.png);}
.inset.map268959::before {background-image: url(track-268959.png);}
.inset.map268960::before {background-image: url(track-268960.png);}
.inset.map286194::before {background-image: url(track-286194.png);}
.inset.map286195::before {background-image: url(track-286195.png);}
.inset.map286196::before {background-image: url(track-286196.png);}
.inset.map286197::before {background-image: url(track-286197.png);}
.inset.map630627::before {background-image: url(track-630627.png);}
.inset.map630693::before {background-image: url(track-630693.png);}
.inset.map630744::before {background-image: url(track-630744.png);}
.inset::before {
   content: '';
   background-color: #0008;
   background-size: auto 580px;
   background-repeat: no-repeat;
   position: absolute;
   top: 20px;
   left: calc(var(--sidebar)*0 + var(--gap) + 90px);
   visibility: hidden;
   width: calc(100% - var(--sidebar)*0 - var(--gap) - 200px);
   height: 580px;
   border: 30px solid transparent;
   flex: 0 0 auto;
   object-fit: scale-down;
   z-index: 1;
}
.inset:hover::before {
   visibility: visible;
}
img[center] {
   width: 100% !important;
}
#slide-room316 {
   padding-left: 3em;
   padding-right: 3em;
}
