:root {
   --pos: 3px;
   --neg: -3px;
   --color: #300;
   --r-main-font-size: 50px;
}
.reveal * {
   text-shadow: var(--pos) var(--pos) var(--pos) var(--color),
                var(--neg) var(--pos) var(--pos) var(--color),
                var(--neg) var(--neg) var(--pos) var(--color),
                var(--pos) var(--neg) var(--pos) var(--color);
}
.reveal .who {
   color: #FF9;
   font-weight: bold;
}
.reveal .from {
   color: #999;
}
.reveal .about, .reveal .talk {
   display: block;
}
.reveal .about {
   font-style: italic;
}