:root {
   --sidebar-background: indigo; /*palegoldenrod*/
  /* --sidebar-background-right: transparent;*/
   --sidebar-color: var(--light); 
   --sidebar-border: transparent;
   --sidebar-accent: var(--light);
   --sidebar-select: var(--sidebar-background);
   --zzzheader-color: var(--sidebar-accent);
}
.zzsidebar {
  /* background-image: url(https://www.rosemarkt.ru/resources/data/photos/561cc49270696/big.jpg) !important;*/
   background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(https://www.rosemarkt.ru/resources/data/photos/561cc49270696/big.jpg);
   background-size: 26%;
   background-attachment: fixed;
   background-position: bottom right;
   background-repeat: no-repeat;
}
.remark-slide-content:not(.inverse) .outline *[id*="bg"] {
  /* border-left: 1px solid transparent !important;*/
  /* border-radius: 12px !important;*/
}
p img[width="1330"]::after {
   content: 'attr(style)';
   position: fixed;
   display: block;
   bottom: 0px !important;
   right: 0px !important;
}
.qgis-demo {
   background-color: #032040 !important;
   background-image: url(qgis-demo.jpg) !important;
   background-size: cover;
}
td .control {
   visibility: hidden;
   opacity: 0.3;
}
td:hover .control {
   visibility: visible;
}
