:root {
   --sidebar-border: transparent;
   --sidebar-accent: blueviolet;
   --sidebar-select: white;
}
.zzsidebar {
  /* background-image: url(https://www.rosemarkt.ru/resources/data/photos/561cc49270696/big.jpg) !important;*/
   background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(https://www.rosemarkt.ru/resources/data/photos/561cc49270696/big.jpg);
   background-size: 26%;
   background-attachment: fixed;
   background-position: bottom right;
   background-repeat: no-repeat;
}
