:root{
  /* --sidebar-pointsize: 70%;*/
   --sidebar: 32.2%;
}
th:has(> .ongoing) {
   background-color: #FFA;
}
h4+table {
   -webkit-column-break-inside: avoid;
   -moz-column-break-inside: avoid;
   break-inside: avoid;
}
*[id*=slide-zzzattendance] th, .vertical-header th {
   color: red;
   writing-mode: tb-rl;
   transform: rotate(180deg);
   padding: 1em;
}
.sssmainbar h4 {
   background-color: var(--accent);
   color: var(--light);
}
.remark-slide-content[id*=dates] table {
   border-top: none;
   border-bottom: none;
}
.remark-slide-content[id*=dates] table thead {
   display: none;
}
.remark-slide-content[id*=dates] p {
   margin-bottom: 0;
}
.inverse .outline > *[id*=bg] {
   background-color: transparent !important;
}