```{css index}
   :root{ --sidebar-pointsize: 70%; --sidebar: 32.2%;}
   h4+table {-webkit-column-break-inside: avoid;-moz-column-break-inside: avoid;break-inside: avoid;}
   .vertical-header th {color: red;writing-mode: tb-rl; transform: rotate(180deg);}
   .sssmainbar h4 {background-color: var(--accent);color: var(--light);}
```
