#TOC img {display: none;}
.html-widget.gauge {margin-bottom: -0.8em !important;}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v18/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7DQ.woff2) format('woff2');
}
@font-face {
   font-family: 'wwf';
   src: url(https://nplatonov.github.io/chicory/wwf.ttf) format('truetype');
}
body {
   font-family: 'Roboto Condensed', 'Segoe UI', sans-serif;
}
h1 {
   font-family: wwf, 'Roboto Condensed', 'Segoe UI', sans-serif;
   color: black;
   text-transform: uppercase;
}
.wwf {
   font-family: wwf;
   font-size: 105%;
}
.logo {
   float:left;
   width:80px;
   margin:0.4em 0.4em 0.4em 0.4em;
}
.region, .cf_code {
   float: right;
   margin: 12px 0px 0px 12px;
   color: black;
   opacity: 0.09;
   font-size: 70px;
   font-family: wwf, sans-serif;
}
.region::before, .cf_code::before {
   text-align: right;
   line-height: 0.01;
   font-size: 35px;
   display: block;
   content: 'PAC';
}
.region::before {
   content: 'PAC';
}
.cf_code::before {
   content: 'CF';
}
img {box-shadow: none; padding:0.2em;}
table tfoot td {text-align:left; font-size: 80%; padding-top: 0.2em !important; padding-left:0em !important; line-height:1.1;}
h1 + .figure, p + .figure {
   display: inline-block;
}
@media only screen and (max-width: 680px) {
   .figure {padding-top: 0em;}
}
@media print {
   @page {margin: 0cm;}
   body {
      background-color: white;
      font-family: 'Roboto Condensed', 'Segoe UI', sans-serif;
      font-size: 11pt; 
      line-height: 1.20;
      text-align: center;
   }
   p, h1~p, h2~p, h3~p, h4~p {text-indent: 0cm !important;}
   .html-widget {border: none !important}
   table th {padding-top: 0.5cm;}
   p + .figure {margin-top: 0.1cm;}
}
