:root {
   --gaugeWidth: 210px;
   --gaugeHeight: 310px;
   --valueboxHeight: 80px;
   --valueboxWidth: 224px;
   --multicolWidth: calc(50% - 4px);
   --multirowWidth: 486px;
}

/*
@import url("https://fonts.googleapis.com/css?family=Oswald");
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/oswald/v31/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUtiZTaR.woff2) format('woff2');
}
*/ 
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v18/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7DQ.woff2) format('woff2');
}
@font-face {
   font-family: 'wwf';
   src: url(https://nplatonov.github.io/chicory/wwf.ttf) format('truetype');
}
body {
   font-family: 'zzzOswald' ,'Roboto Condensed', 'Segoe UI', sans-serif;
}
h1, h2, h1 a, h1 a:hover, h1 a:visited {
   font-family: wwf, 'Roboto Condensed', 'Segoe UI', sans-serif;
   color: black;
}
h1 {
   text-transform: uppercase;
}
.wwf {
   font-family: wwf;
   font-size: 105%;
}
#TOC img {display: none;}
.logo {
   float:left;
   width:80px;
   margin:0.4em 0.4em 0.4em 0.4em;
}
.region, .cf_code {
   float: right;
   margin: 12px 0px 0px 12px;
   color: black;
   opacity: 0.09;
   font-size: 70px;
   font-family: wwf, sans-serif;
}
.region::before, .cf_code::before {
   text-align: right;
   line-height: 0.01;
   font-size: 35px;
   display: block;
   content: 'PAC';
}
.region::before {
   content: 'PAC';
}
.cf_code::before {
   content: 'CF';
}
img {box-shadow: none; padding:0.2em;}
table tfoot td {text-align:left; font-size: 80%; padding-top: 0.2em !important; padding-left:0em !important; line-height:1.1;}
h1 + .figure, p + .figure {
   display: inline-block;
}
.zzzdiv {
   border: 1px solid green;
}
.zzzp {
   border: 1px solid blue;
}
.spatial {
   display: inline-block;
   margin-top: -1em;
}
.spatial img {
   width: 48.5%;
}
.multirow {
   max-width: initial !important;
}
.html-widget.gauge {
   margin-bottom: -0.05em;
}
.gauge {
   width: 210px !important;
   height: 310px !important;
}
.html-widget.gauge svg {
    height: 160px;
    margin-top: -24px;
    margin-bottom: -24px;
}
@media screen and (min-width: 1300px) and (min-height: 620px){ 
   a.preview:hover span {
      display: block;
      position: fixed;
      width: calc(516px * 0.96);
      height: calc(522px * 0.96);
     /* width: calc(39.25vw - 10px); */
     /* height: calc(39.25vw - 10px); */
      right: 8px;
      bottom: 8px;
     /* top: 22vh;*/
      box-shadow: 3px 3px 6px rgba(0,0,0,0.16),
                  3px 1px 6px rgba(0,0,0,0.23),
                  -3px -3px 6px rgba(0,0,0,0.16),
                  -3px -1px 6px rgba(0,0,0,0.23);
      z-index: 1;
   }
}
.navbar-nav a[href*="wwf"] {
   font-family: wwf;
}
.navbar-nav {
   font-size: 170%; /* 1.8vh 140%; */
   font-family: wwf;
   margin-top: 3px;
  /* margin-bottom: 1px;*/
}
.navbar-nav li {
   height: 45px;
  /* margin-top: -1px;*/
  /* margin-bottom: 1px;*/
  /* border: 1px solid blue;*/
}
.navbar-nav li:hover {
}
.navbar-brand {
   margin-top: -2px;
   font-family: wwf;
   font-size: 200%;
}
.navbar-brand .navbar-author {
   font-size: 70%;
}
.navbar-logo img {
   height: 46px;
}
.legend {
   overflow-y: auto;
   max-height: calc(100vh - 40px);
  /* min-width: 102px;*/
}
.oceanic-references p {
   text-align: right;
}
.zzzlevel2:first-of-type {
   display: inline;
}
.zzzlevel2 h2 {
   margin-top: -0.5em;
   margin-bottom: 1em;
}
.navbar-left {
  /* display: none;*/
}
.chart-stage img.inline, .chart-stage .inline img {
   height: 1.8em !important;
   margin-bottom: initial;
}
.zzzchart-wrapper, .dashboard-column.level2, .zzzchart-stage {
   font-size: min(2.06vh, 4.16vw);
}
.dashboard-column.level2 h4.manual {
   font-size: min(3.1vh, 4.8vw);
}
.chart-wrapper .chart-title {
   font-size: 2.15vh;
}
.chart-shim table {
   font-size: min(1.96vh, 1.16vw);
}
.chart-shim table.table > tbody > tr > td {
   padding-top: 0.15em;
   padding-bottom: 0.15em;
   line-height: 1;
}
.chart-shim.bootstrap-table p:first-of-type {
   margin-top: -0.4em;
   margin-bottom: -0.4em;
}
.chart-shim hr+p {
   margin-top: -0.4em;
   margin-bottom: 0.4em;
   font-size: 80%;
}
.changeLook {
   text-align:right;
   font-size: 200%; 
   margin-top: -0.5em;
}
.changeLook:after{
   content: '\1F862';
}
h4.manual {
   margin-top: 0.0em;
   margin-bottom: 0.3em;
}
.dashboard-column.level2 p {
  /* color: red; */
}
.leaflet-top.leaflet-right {
    top: -5px;
    right: -5px;
}
@media screen and (max-height: 660px) {
   .omit-on-small-screen .chart-title {
      display: none;
   }
}
@media screen and (min-width: 1269px) {
   .navbar-brand .navbar-zzzauthor {
      display: none;
   }
   .printable {
      display: none;
   }
}
@media print, screen and (max-width: 1268px) and (min-width: 769px) {
   .navbar-right {
      display: inline-block;
      margin-left: 16px;
      position: absolute;
      float: initial;
      max-width: calc(50vw - 360px);
   }
   .legend {
       overflow-y: initial;
       max-height: calc(100vh - 20px);
       min-width: initial;
   }
   .changeLook:after{
      content: '\1F863';
   }
}
@media only screen and (max-width: 768px) {
   .figure {padding-top: 0em;}
   .spatial img {
       width: unset;
   }
   .centered-image img.logo {
      width: 80px !important;
   }
   div[id^=arcnet] > p:first-of-type {
      margin-top: 60px;
      display: block;
   }
}
@media only screen and (min-width: 769px) {
   .multirow {
      padding-left: 17px;
   }
}
@media print {
   @page {margin: 1cm 1cm;}
   body {
      background-color: white !important;
      font-family: 'Roboto Condensed', 'Segoe UI', sans-serif;
      font-size: 11pt; 
      line-height: 1.25;
     /* text-align: center;*/
   }
   body::after {
      content: '';
   }
   p, h1~p, h2~p, h3~p, h4~p {text-indent: 0cm !important;}
   p {margin-top: 0.25cm;margin-bottom: 0.25cm;}
   .html-widget {border: none !important}
   table th {padding-top: 0.5cm;}
   table tbody tr td {
      line-height: 1.25;
      padding-top: 2px;
      padding-bottom: 2px;
   }
   p + .figure {margin-top: 0.1cm;}
   .leaflet-control.legend {
     /* display: none;*/
   }
   .legend i {
      background: revert !important; 
   }
   a:after {
     /* text-decoration: none;*/
      content: '' !important; /* try without 'important' */
   }
   p +.oceanic-references {
      border: 1px solid red;
      page-break-before: avoid !important;
      page-break-inside: avoid !important;
      page-break-after: always;
   }
   .zzzlevel2 {
      display: block !important;
      border: 1px solid transparent;
   }
   .pictures {
      page-break-inside: avoid;
   }
}
