:root {
   --sidebar: 1%;
}
.remark-slide-content {
   font-size: 18pt;
}
.left-column {
   font-size: 14pt;
   width: calc(23% + var(--sidebar));
}
.right-column {
   width: calc(74% - var(--sidebar));
}
.zleft-next {
   border: 1px solid orange;
   display: block;
   position: absolute;
   width: 20%;
   height: 92%;
   float: left;
}
.zleft-next + * {
   clear: both;
}
li:not(:last-child) h2 {
   color: #888 !important;
}
.zzzmainbar {
  /* background-color: #F4F4F4;*/
   margin-bottom: 6em;
}
.authorpictute {
   display: none;
   position: absolute;
   bottom: 1.2em;
   left: 0.8em;
}
